@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(36, 13, 36);
    font-family: 'Roboto', sans-serif;
}

.caixa {
    height: 420px;
    width: 654px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.img-produto {
    float: left;
    height: 420px;
    width: 327px;
}

.img-produto img {
    border-radius: 7px 0 0 7px;
}

.img {
    width: 327px;
    height: 420px;
}

.info-produto {
    float: left;
    height: 420px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: aliceblue;
}

.texto-produto {
    height: 300px;
    width: 327px;
}

.texto-produto h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: black;
}

.texto-produto h1, preco-produto p {
    
}

.texto-produto {
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.2em;
}

.texto-produto p {
    height: 125px;
    margin: 0 0 0 10px;
    color: black;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
}

.preco-produto {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
}

.preco-produto p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color:black;
}

span {
    display: inline-block;
    height: 50px;
    font-size: 34px;
}

.preco-produto button {
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: black;
    cursor: pointer;
    outline: none;
}

.preco-produto button:hover {
    background-color: purple;
}

